@keyframes appear {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

* {
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#toolbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.toolbar-button {
    font-size: 22px;
    transition: all 0.3s ease;
    min-width: 100px;
    color: white;
    background-color: #2f80ed;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.toolbar-button:hover {
    font-size: calc(22px * 1.1);
}

.playbuttongame {
    margin-top: 10px;
    font-size: 22px;
    transition: all 0.3s ease;
    color: white;
    width: 100px;
    background: linear-gradient(#ed8b2f, #f19c57);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.playbuttongame:hover {
    font-size: calc(22px * 1.1);
    width: calc(100px * 1.1);
}

.gameDiv {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    animation: appear forwards 0.5s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gameplayDiv {
    background-color: #f0f0f0;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 65%;
}

.gameplayDiv iframe {
    padding: 0;
    margin: 0;
    border: 0;
    color: 0;
    width: 100%;
    height: 100%;
}

.gameDiv img {
    width: 400px;
    height: auto;
    border-radius: 10px;
}

#infoHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
}