@keyframes appear {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Main CSS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

:root {
  color-scheme: light;
}

body {
  background: linear-gradient(90deg, #64e0ff, #5891ff);
  color: black;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  min-height: 100vh;
  max-width: 100vw;
}

a {
  color: #2e74ff;
}

#buttonHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: fit-content;
  overflow: hidden;
  padding: 10px;
  width: 80%;
  gap: 20px;
  max-width: 900px;
  background-color: #f3f3f3;
  border-radius: 10px;
  z-index: 1000;
}

.toolbar a,
.toolbar img {
  color: black;
  background-color: transparent;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: keep-all;
  cursor: pointer;
  font-size: 22px;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed rgba(127, 127, 127, 0.3);
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.toolbar img {
  width: 55px;
  height: 55px;
  fill: black;
}

.toolbar a:hover,
.toolbar img:hover {
  background-color: rgba(127, 127, 127, 0.3);
  transform: translateY(-2px);
}

.social-button {
  position: relative;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s;
  transition: transform 0.2s ease;
}

.social-button.decorationTwo::before {
  content: "2";
  color: #00000080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

.social-button:hover {
  transform: translateY(-2px);
}

.social-button img {
  width: 100%;
  height: 100%;
}

#ddededodediamante {
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  width: 100%;
  max-width: 245px;
  transition: border-color 0.2s ease, transform 0.2s ease;
}

#ddededodediamante:hover {
  transform: scale(1.03);
  border-color: #ff9ad2;
}

#infoHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: calc(100% - 10px);
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.informationDiv {
  max-width: fit-content;
  color: black;
  background-color: #f3f3f3;
  width: calc(100% - 20px);
  padding: 10px;
  border-radius: 10px;
  animation: appear 0.5s;
}

.informationDiv h2 {
  margin-bottom: 10px;
}

.informationDiv img {
  width: 100%;
  max-width: fit-content;
}

#webring {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: stretch;
  animation: appear 0.5s;
}

#webring div {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  padding: 2px;
  border-radius: 10px;
  font-size: 20px;
  height: fit-content;
  padding: 5px;
  transition: transform 0.2s ease;
}

#webring,
#webring div {
  text-align: center;
  align-items: center;
  justify-content: center;
}

#webring div:hover {
  transform: translateY(-2px);
}

/* Games CSS */

.gameDiv {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  animation: appear forwards 0.5s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s;
}

.gameDiv a {
  font-size: 22px;
  color: white;
  width: 100px;
  background-color: #4b59cf;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.gameDiv a:hover {
  background-color: #6e4bcf;
}

.gameDiv img {
  width: auto;
  height: 300px;
  border-radius: 10px;
}

/* Websites CSS */

.websiteInfoDiv {
  background-color: #f3f3f3;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: appear forwards 0.5s;
}

.websiteInfoDiv a {
  font-size: 22px;
  color: white;
  width: 100px;
  background-color: #4b59cf;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.websiteInfoDiv a:hover {
  background-color: #6e4bcf;
}

.websiteInfoDiv img {
  width: 60px;
  height: auto;
  border-radius: 13%;
}

/* Small Devices */

@media (max-width: 840px) {
  body {
    padding: 0;
    padding-bottom: 10px;
  }

  .toolbar {
    width: 100%;
    border-radius: 0;
  }
}

@media (max-width: 478px) {
  .toolbar {
    gap: 10px;
  }
}
