@keyframes appear {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Main CSS */

* {
  text-decoration: none;
  font-family: "Comic Sans MS", "Comic Sans", Arial, Helvetica, sans-serif;
}

body {
  background: linear-gradient(90deg, #64e0ff, #5891ff);
  color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#buttonHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

#toolbar {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 80%;
  max-width: 900px;
  background-color: #f3f3f3;
  border-radius: 10px;
}

#toolbar a,
#toolbar img {
  font-size: 22px;
  min-width: 70px;
  color: black;
  background-color: transparent;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  border: 2px dashed rgba(127, 127, 127, 0.3);
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

#toolbar img {
  width: 30px;
  min-width: 30px;
  height: 30px;
  fill: black;
}

#toolbar a:hover,
#toolbar img:hover {
  background-color: rgba(127, 127, 127, 0.3);
  transform: translateY(-2px);
}

.social-button {
  position: relative;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s;
  transition: transform 0.2s ease;
}

.social-button.decorationTwo::before {
  content: '2';
  color: #00000080;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
}

.social-button:hover {
  transform: translateY(-2px);
}

.social-button img {
  width: 100%;
  height: 100%;
}

#ddededodediamante {
  border-radius: 50%;
  border: 5px solid #f3f3f3;
  margin-bottom: 30px;
  width: 100%;
  max-width: 245px;
  transition: border-color 0.2s ease, transform 0.2s ease;
}

#ddededodediamante:hover {
  transform: scale(1.03);
  border-color: #ff9ad2;
}

#infoHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.informationDiv {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  animation: appear 0.5s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#webring {
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  justify-content: center;
  align-items: stretch;
  animation: appear 0.5s;
}

#webring div {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  border: 1px solid #f3f3f3;
  padding: 2px;
  border-radius: 10px;
  font-size: 20px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  transition: transform 0.2s ease;
}

#webring div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

#webring div:hover {
  transform: translateY(-2px);
}

/* Games CSS */

.gameDiv {
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 10px;
  gap: 10px;
  animation: appear forwards 0.5s;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: appear 0.5s;
}

.gameDiv a {
  font-size: 22px;
  color: white;
  width: 100px;
  background-color: #4b59cf;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.gameDiv a:hover {
  background-color: #6e4bcf;
}

.gameDiv img {
  width: auto;
  height: 300px;
  border-radius: 10px;
}

/* Websites CSS */

.websiteInfoDiv {
  background-color: #f3f3f3;
  color: black;
  padding: 10px;
  border-radius: 10px;
  font-size: 22px;
  gap: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  animation: appear forwards 0.5s;
}

.websiteInfoDiv a {
  font-size: 22px;
  color: white;
  width: 100px;
  background-color: #4b59cf;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.2s ease;
}

.websiteInfoDiv a:hover {
  background-color: #6e4bcf;
}

.websiteInfoDiv img {
  width: 60px;
  height: auto;
  border-radius: 13%;
}

/* Small Devices */

@media (max-width: 800px) {
  #toolbar {
    gap: 15px;
  }
}

@media (max-width: 700px) {
  #toolbar {
    gap: 13px;
  }

  #toolbar a,
  #toolbar img {
    font-size: 21px;
    padding: 8px;
    border-radius: 10px;
  }
}

@media (max-width: 622px) {
  body {
    margin: 0;
  }

  #toolbar {
    width: 100%;
    border-radius: 0;
    margin: 0;
  }
}

@media (max-width: 566px) {
  #toolbar {
    gap: 8px;
  }

  #toolbar a,
  #toolbar img {
    font-size: 19px;
    padding: 7px;
    border-radius: 9px;
  }

  #toolbar img {
    width: 26px;
    min-width: 26px;
    height: 26px;
    fill: black;
  }
}

@media (max-width: 535px) {
  #bioDiv {
    width: 400px !important;
  }

  #bioDiv,
  #bioDiv p {
    font-size: 13px;
  }
}

@media (max-width: 500px) {
  #toolbar {
    gap: 8px;
  }

  #toolbar a,
  #toolbar img {
    font-size: 19px;
    padding: 7px;
    border-radius: 9px;
  }

  #toolbar img {
    width: 26px;
    min-width: 26px;
    height: 26px;
  }

  div.informationDiv img {
    max-width: 400px;
  }
}

@media (max-width: 453px) {
  #toolbar {
    gap: 7px;
    height: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #toolbar a,
  #toolbar img {
    font-size: 15px;
    padding: 5px;
    border-radius: 7px;
  }

  #toolbar a {
    width: 3vw !important;
  }

  #toolbar img {
    width: 20px;
    min-width: 20px;
    height: 20px;
  }

  div.informationDiv img {
    max-width: 300px;
  }
}

.hidden {
  display: none;
}