@keyframes appear {
    from {
        transform: scale(0.9);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

* {
    text-decoration: none;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#buttonHolder {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 80px;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#toolbar {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 80%;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.toolbar-button {
    font-size: 22px;
    transition: all 0.3s ease;
    min-width: 100px;
    color: white;
    background-color: #2f80ed;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.toolbar-button:hover {
    font-size: calc(22px * 1.1);
}

.social-button {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: appear forwards 0.5s;
}

.social-button:hover {
    box-shadow: 0px 0px 10px rgb(77, 77, 77);
    width: 60px;
    height: 60px;
}

.social-button img {
    width: 100%;
    height: 100%;
}

#ddededodediamante {
    border-radius: 50%;
    border: 5px solid #f0f0f0;
    transition: box-shadow 0.3s ease, transform 0.3s ease, border 0.3s ease;
    margin-bottom: 30px;
    width: 100%;
    max-width: 245px;
}

#ddededodediamante:hover {
    box-shadow: 0px 0px 20px #ff68bb;
    transform: scale(1.05);
    border-color: #ff68bb;
}

#infoHolder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.informationDiv {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    animation: appear forwards 0.5s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#bioDiv {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
    width: 500px;
    animation: appear forwards 0.5s;
}

#bioDiv p {
    background-color: #ffffff;
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
}

#webring {
    display: flex;
    flex-direction: row;
    border: 2px solid #f0f0f0;
    padding: 7px;
    border-radius: 10px;
    gap: 5px;
}

#webring div {
    border: 2px solid #f0f0f0;
    padding: 3px;
    border-radius: 10px;
    min-width: 100px;
    transition: all 0.2s ease;
    height: 100%;
}

#webring div:hover {
    transform: translateY(-1px);
    box-shadow: 0px 0px 10px rgb(77, 77, 77);
}